[Unit]
Description=Vector Voltmeter application
After=multi-user.target

[Service]
WorkingDirectory=/home/michael
ExecStart=/usr/bin/python3 vvm_app_oled.py
# Restart=always
# RestartSec=10

[Install]
WantedBy=multi-user.target
