[Unit]
Description=Vector Voltmeter MQTT Daemon
After=multi-user.target

[Service]
WorkingDirectory=/home/michael/zed_vvm/linux_apps
ExecStart=/usr/bin/python3 vvm_daemon.py --fps 30 --cal_file /home/michael/zed_vvm/litex_server_apps/cal/cal2_att.npz
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
